<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Flask Application
	</title>
<body style="background-image: url({{url_for('static' , filename= '26869-credit-card-1520400960720.jpg')}});" >
<div >
	<link href="{{ url_for('static', filename= 'css/bootstrap.min.css')}}" rel= "stylesheet">
	<link rel="shortcut icon"  href="{{ url_for('static' , filename= 'favicon.ico')}}" >
</head>
 <div style="text-align: center;">
  <div style="color: blue;" >	
 	<h1>
 		Welcome to the web application
 	</h1>
 </br>
 </div>
   
<div > 
<form  action="/dashboard/" class="form-horizontal" method="POST">
		  
		  
		  <div class="form-group">
		    <label for="exampleInputUserName2" class="col-sm-2 control-label">Username</label>
		    <div class="col-sm-10">
		    <input type="text" class="form-control" id="exampleInputUserName2"  placeholder= "Username" name="username" value="{{request.form.username}}">
		      </div>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword2" class="col-sm-2 control-label">Password</label>
		    <div class="col-sm-10">
		    <input type="password" class="form-control" id="exampleInputPassword2" placeholder= "Password" name="password" value="{{request.form.password}}">
		     </div>
		  </div>
		  <div class="form-group">
    		<div class="col-sm-offset-2 col-sm-10">
		  <button type="submit" class="btn btn-primary" >Log-in </button>
		  	 </div>
  				</div>
  				
		</form>
</div>			
</div>
</body>	

	</html>


